<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/1c7e7e95-9a67-4a7a-b85e-cffee8a3286a/resourceGroups/kk-app-resource-group/providers/Microsoft.Web/sites/kk-test-web-app-2</ResourceId>
    <ResourceGroup>kk-app-resource-group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://kk-test-web-app-2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>kk-test-web-app-2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>kk-test-web-app-2</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$kk-test-web-app-2</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>